<!doctype html>
<html
  lang="es"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/layout"
>
  <head>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <section layout:fragment="content">
      <form th:action="@{/emails}" method="get">
        <div class="row my-2 mx-auto w-75">
          <div class="col-md-3">
            <label class="" for="date">Emotion</label>
            <select
              class="form-select"
              id="emotion"
              name="emotion"
              th:value="${emotion}"
            >
              <option value="">-- All --</option>
              <option th:selected="${emotion == 'joy'}" value="joy">joy</option>
              <option th:selected="${emotion == 'sadness'}" value="sadness">
                sadness
              </option>
              <option th:selected="${emotion == 'anger'}" value="anger">
                anger
              </option>
              <option th:selected="${emotion == 'fear'}" value="fear">
                fear
              </option>
              <option th:selected="${emotion == 'disgust'}" value="disgust">
                disgust
              </option>

              <option th:selected="${emotion == 'surprise'}" value="surprise">
                surprise
              </option>
              <option th:selected="${emotion == 'nostalgia'}" value="nostalgia">
                nostalgia
              </option>
              <option th:selected="${emotion == 'intrigue'}" value="intrigue">
                intrigue
              </option>
              <option th:selected="${emotion == 'justice'}" value="justice">
                justice
              </option>
              <option th:selected="${emotion == 'contempt'}" value="contempt">
                contempt
              </option>
              <option th:selected="${emotion == 'anxiety'}" value="anxiety">
                anxiety
              </option>
              <option th:selected="${emotion == 'betrayal'}" value="betrayal">
                betrayal
              </option>
              <option th:selected="${emotion == 'repulsion'}" value="repulsion">
                repulsion
              </option>
              <option th:selected="${emotion == 'aversion'}" value="aversion">
                aversion
              </option>
              <option th:selected="${emotion == 'hate'}" value="hate">
                hate
              </option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="" for="date">From</label>
            <input
              class="form-control"
              name="from"
              type="date"
              id="from"
              th:value="${from}"
            />
          </div>

          <div class="col-md-3">
            <label class="" for="date">To</label>
            <input
              class="form-control"
              name="to"
              type="date"
              id="to"
              th:value="${to}"
            />
          </div>

          <div class="col-md-3 d-flex flex-column">
            <button class="btn btn-primary mt-auto" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>

      <ul class="list-group list-group-light w-75 m-auto">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          th:each="i: ${emails}"
        >
          <div>
            <div class="fw-bold">
              <a
                th:href="@{'/email/' + ${i.getId()}}"
                th:text="${i.getFrom()}"
              ></a>
            </div>
            <div class="text-muted" th:text="${i.getSubject()}"></div>
          </div>
          <span
            th:if="${#strings.contains(i.getEmotion(), 'joy')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getEmotion(), 'sadness')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getEmotion(), 'anger')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getEmotion(), 'fear')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getEmotion(), 'disgust')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'nostalgia')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'intrigue')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'justice')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'contempt')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'anxiety')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'betrayal')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'repulsion')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'aversion')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
          <span
            th:if="${#strings.contains(i.getCompoundEmotion(), 'hate')}"
            style="width: 70px"
            class="badge rounded-pill text-bg-danger"
            th:text="${i.getCompoundEmotion()}"
          ></span>
        </li>
      </ul>

      <div class="w-75 m-auto">
        <ul class="pagination mb-0 mt-3">
          <li
            class="page-item"
            th:classappend="${page.first} ? 'disabled' : ''"
          >
            <a
              class="page-link"
              th:with="prevPage=${page.number - 1}"
              th:href="@{'?page=' + ${prevPage}}"
              >Ant</a
            >
          </li>

          <li
            class="page-item"
            th:if="${prevDots}"
            th:classappend="${page.first} ? 'disabled' : ''"
          >
            <a class="page-link" th:href="@{'?page=0'}">1</a>
          </li>

          <li class="page-item" th:if="${prevDots}">
            <a class="page-link">...</a>
          </li>

          <li
            class="page-item"
            th:each="i: ${pageNumbers}"
            th:classappend="${i == page.number + 1} ? 'active' : ''"
          >
            <a
              class="page-link"
              th:with="pageNum=${i - 1}"
              th:href="@{'?page=' + ${pageNum}}"
              th:text="${i}"
            ></a>
          </li>

          <li class="page-item" th:if="${nextDots}">
            <a class="page-link">...</a>
          </li>

          <li
            class="page-item"
            th:if="${nextDots}"
            th:classappend="${page.last} ? 'disabled' : ''"
          >
            <a
              class="page-link"
              th:with="lastPage=${page.totalPages - 1}"
              th:href="@{'?page=' + ${lastPage}}"
              th:text="${page.totalPages}"
            ></a>
          </li>

          <li class="page-item" th:classappend="${page.last} ? 'disabled' : ''">
            <a
              class="page-link"
              th:with="nextPage=${page.number + 1}"
              th:href="@{'?page=' + ${nextPage}}"
              >Sig</a
            >
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
