<!doctype html>
<html
  lang="es"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/layout"
>
  <head>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <section layout:fragment="content">
      <form th:action="@{/emails}" method="get">
        <div class="row my-2 mx-auto w-75">
          <div class="col-md-3">
            <label class="" for="emotion">Emotion</label>
            <select class="form-select" id="emotion" name="emotion">
              <option value="">-- All --</option>
              <option
                th:each="e : ${emotions}"
                th:value="${e.key}"
                th:text="${e.key}"
                th:selected="${emotion == e.key}"
              ></option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="" for="from">From</label>
            <input
              class="form-control"
              name="from"
              type="date"
              id="from"
              th:value="${from != null ? #dates.format(from, 'yyyy-MM-dd') : ''}"
            />
          </div>

          <div class="col-md-3">
            <label class="" for="to">To</label>
            <input
              class="form-control"
              name="to"
              type="date"
              id="to"
              th:value="${to != null ? #dates.format(to, 'yyyy-MM-dd') : ''}"
            />
          </div>

          <div class="col-md-3 d-flex flex-column">
            <button class="btn btn-primary mt-auto" type="submit">
              Search
            </button>
          </div>
        </div>
      </form>

      <ul class="list-group list-group-light w-75 m-auto">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          th:each="i: ${emails}"
        >
          <div>
            <div class="fw-bold">
              <a
                th:href="@{'/email/' + ${i.getId()}}"
                th:text="${i.getFrom()}"
              ></a>
            </div>
            <div class="text-muted" th:text="${i.getSubject()}"></div>
          </div>
          <div class="d-flex gap-1">
            <span
              th:unless="${#strings.isEmpty(i.getEmotion())}"
              style="width: 70px"
              class="badge rounded-pill text-bg-danger"
              th:text="${i.getEmotion()}"
            ></span>
            <span
              th:unless="${#strings.isEmpty(i.getCompoundEmotion())}"
              style="width: 70px"
              class="badge rounded-pill text-bg-danger"
              th:text="${i.getCompoundEmotion()}"
            ></span>
          </div>
        </li>
      </ul>

      <nav th:replace="~{fragments/pagination :: pagination}"></nav>
    </section>
  </body>
</html>
