<!DOCTYPE html>
<html
  lang="es"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/layout"
>
  <head>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <section layout:fragment="content">

      <form th:action="@{/}" method="get">
        <div class="row my-2 mx-auto w-75">
          <div class="col-md-3">

          <div class="col-md-3">
            <label class="" for="date">From</label>
            <input
              class="form-control"
              name="from"
              type="date"
              id="from"
              th:value="${from}"
            />
          </div>

          <div class="col-md-3">
            <label class="" for="date">To</label>
            <input
              class="form-control"
              name="to"
              type="date"
              id="to"
              th:value="${to}"
            />
          </div>

          <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>

      <div>
        <canvas id="myChart"></canvas>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script th:inline="javascript">
        const ctx = document.getElementById("myChart");

        const joy = /*[[${joy}]]*/ 0;
        const sadness = /*[[${sadness}]]*/ 0;
        const anger = /*[[${anger}]]*/ 0;
        const fear = /*[[${fear}]]*/ 0;
        const love = /*[[${love}]]*/ 0;
        const surprise = /*[[${surprise}]]*/ 0;

        new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["Joy", "Sadness", "Anger", "Fear", "Love", "Surprise"],
            datasets: [
              {
                label: "Correos",
                data: [joy, sadness, anger, fear, love, surprise],
                borderWidth: 1,
              },    
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      </script>
    </section>
  </body>
</html>
