<!DOCTYPE html>
<html
  lang="es"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layouts/layout"
>
  <head>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid"
              alt="Phone image"
            />
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form
              id="register_form"
              th:action="@{'/register/' + ${token}}"
              th:object="${register}"
              method="post"
            >
              <h3 class="mb-4 m-auto w-100 text-center">REGISTER</h3>
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <!-- <input type="hidden" name="token" id="token" th:field=""> -->
                <input
                  type="hidden"
                  id="token"
                  name="token"
                  th:field="*{token}"
                  th:value="${token}"
                />
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  th:field="*{email}"
                />
                <label class="form-label" for="email">Email</label>
                <span
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="error-message d-block text-danger"
                ></span>
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control form-control-lg"
                  th:field="*{password}"
                />
                <label class="form-label" for="password">Password2</label>
                <span
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="error-message d-block text-danger"
                ></span>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="confirm_password"
                  class="form-control form-control-lg"
                  th:field="*{confirmPassword}"
                />
                <label class="form-label" for="confirm_password"
                  >Confirm Password</label
                >
                <div
                  th:if="${#fields.hasErrors('global')}"
                  th:each="err : *{#fields.detailedErrors('global')}"
                >
                  <span
                    th:text="${err.message}"
                    class="error-message d-block text-danger"
                  ></span>
                </div>

                <span
                  th:if="${error}"
                  class="error-message d-block text-danger"
                  th:text="${error}"
                ></span>

                <span
                  th:if="${success}"
                  class="success-message d-block text-success"
                  th:text="${success}"
                ></span>
              </div>

              <div
                class="d-flex justify-content-around align-items-center mb-4"
              >
                <!-- Submit button -->
                <button
                  type="submit"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary btn-lg btn-block w-100"
                >
                  Sign in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- <script>
        const form = document.getElementById("register_form");
        form.addEventListener("submit", function (e) {
          e.preventDefault();

          const data = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value,
            confirmPassword: document.getElementById("confirm_password").value,
          };

          const json = JSON.stringify(data);

          fetch("/create-user", {
            method: "POST",
            headers: {
              "Content-type": "application/json",
            },
            body: json,
          })
            .then((response) => {
              alert("usuario creado");
            })
            .catch((response) => {
              console.log(response);
            });
        });
      </script> -->
    </section>
  </body>
</html>
